:host {
  display: block;
  min-height: 100vh;
  background-color: var(--main-color);
}

nav {
  display: flex;
  justify-content: center;
  column-gap: 2rem;
  background-color: ghostwhite;
  filter: drop-shadow(0 .1rem .4rem ghostwhite);
  padding-block: 1.5rem;
}

nav a {
  text-decoration: none;
  font-weight: 500;
  padding: .5rem 1.5rem;
  background-color: transparent;
  border-bottom: .1px solid transparent;
  color: var(--main-color);
  border-radius: 5px;
}

nav a:hover {
  cursor: pointer;
  color: var(--main-color);
  border-bottom: .1px solid var(--main-color);
  filter: drop-shadow(0 0 .1rem var(--main-color));
}

nav .active {
  border-bottom: .1px solid var(--main-color);
  color: var(--main-color);
  filter: drop-shadow(0 0 .1rem var(--main-color));
}
